In [ ]:
x = int(input("enter your age"))
y = int(input("enter a show time"))
if x >= 13 and y = 10:15 or 13:30:
  print("8$")
  elif x >= 13 and y = 18:00 or 22:00:
    print("5$")
    elif x <= 13 and y = 10:15 or 13:30:
      print("$4")
    else:
      print("2$")

SyntaxError: invalid syntax (<ipython-input-2-552e48e3b8e7>, line 3)

In [ ]:
x = int(input("enter your age"))
y = float(input("enter a show time"))
if x > 13 and (y == 10.15 or y== 13.30):
  print("8$")
elif x >= 13 and (y == 18.00 or y==  22.00):
    print("5$")
elif x <= 13 and (y == 10.15 or y== 13.30):
     print("$4")
else:
      print("2$")

enter your age5
enter a show time10.15
$4

In [ ]:
x = int(input("enter your birth year"))
y = int(input("enter the current year"))
if y >= 00 and 24:
  print((x - y) * -1)
else:
  print(100 - x) + y

KeyboardInterrupt: Interrupted by user

In [ ]:
for i in range(1,6):
  if (i == 4):
    print("loop braek")
    break
  print(i,end="")

123loop braek

In [ ]:
x = int(input("enter your birth year"))
y = int(input("enter the current year"))
if y >= 00 and y < 24:
  print((x - y) * -1)
else:
  print((100 - x) + y)

In [ ]:
i = 5
j = 5
for {if i = 0,j = 1,i++}
print("*")

In [ ]:
a = 200
print(200 - 200)

In [ ]:
for i in range(3):
  for y in range(1, 10):
    print(y,  end=" ")
  print()

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1, 6):
  for j in range(1, 6):
     print("*", end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
r = 5
for i in range(1, r+1):
  for j in range(1, i+1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
r = 5
for i in range(r, 0,-1):
  for j in range(i):
    print("*", end=" ")
  print()

*****
****
***
**
*

In [ ]:
n = 5
for i in range(1, 6):
  for j in range(1, i+1):
    print(j, end="")
  print()

1
12
123
1234
12345

In [ ]:
n = 5
for i in range(n, 0, -1):
  for j in range (i, 0, -1):
    print(j, end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
n = 9
for i in range(1, 10):
  for j in range(1, i+1):
    print("*", end="")
  print()

*
**
***
****
*****
******
*******
********
*********

In [ ]:
n = 10
count = 0
for i in range(1, n+1):

  for j in range(1,i+1):
    print(j, end="")
  print()

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910

In [ ]:
n = 5
for i in range(1, n+1):
  for j in range(1, i + 1):
    print(i, end="")
  print()

1
22
333
4444
55555

In [ ]:
x = int(input("enter a number"))
for i in range(1, x,-1):
  for j in range(1, i*i-1):
    ptint(i)

enter a number5

In [ ]:
for i in range(1, 5+1):
  print(i)

1
2
3
4
5

In [ ]:
n = int(input())
fact = 1
for i in range(1, n+1):
    fact = fact*i
print(fact)

6
720

In [ ]:
r = 5
for i in range(r, 0,-1):
  for j in range(i):
    print("*", end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
r = 5
for i in range(1, r+1):
  for j in range(1, i+1):
    print(i, end="")
  print()

1
22
333
4444
55555

In [ ]:
r = 5
for i in range(1, r+1):
  for j in range(1, i+1):
    print("*", end="")
  print()

*
**
***
****
*****

In [ ]:
r = 5
for i in range(1, r+1):
  for j in range(1, i+1):
    print(j, end="")
  print()

1
12
123
1234
12345

In [ ]:
     *
   *   *
  *  *  *
 *   *  *  *

In [ ]:
x = ["yes"]
y = [x, -1]
print(y)

[['yes'], -1]

In [ ]:
for i in range(1,6):
  for j in range(1,4):
    if (i == 3):
      print("loop break")
      break
    print(i, end="")
  print()

111
222
loop break

444
555

In [ ]:
for i in range(1,6):
  if(i==3):
    print("loop break")
    break
  for j in range(1,5):
    print(i, end="")
  print()

1111
2222
loop break

In [ ]:
print("MSDT")
print("MSH")
print("MGSDS")
print("MGSH")
print("choose from above list")
w = input("enter the student type")
x =float(input("student tution fees"))
y = float(input("bus fees"))
z = float(input("hostel fees"))
if w == "MSDT":
  print(x + y )
elif w == "MSH":
  print(x + z)
elif w == "MGSDS":
  print(x * 2.5 + y)
elif w == "MGSH":
  print(x * 2.5+ z  )
else:
  print("error")

MSDT
MSH
MGSDS
MGSH
choose from above list

In [ ]:
x = input("door")
y = input("rail")
if x == "FRONT" or x == "front" and y == "1":
  print("left")
else:
  print("right")

if x == "REAR" or x == "rear" and y == "1":
  print("right")
else:
    print("left")

In [ ]:
x = 5
for i in range(0, x+1):
  print(i)